*.o
sdk_demo/audioenctest/audioenc_test
sdk_demo/autplayerTest/autplayerTest
sdk_demo/csitest/csitestT5
sdk_demo/decoderTest/decoderTest
sdk_demo/encoderTest/encoderTest
sdk_demo/fbinit/fbinit
sdk_demo/memTest/memTestDE
sdk_demo/recordTest/recordTest
sdk_demo/sdktest/sdktest
sdk_demo/tpadc/tpadc_test
sdk_demo/tplayer/tplayer
sdk_demo/tpadc/tpadc_test
sdk_demo/csitest/csitestT5
sdk_demo/gif2rgbTest/gif2rgb
sdk_demo/G2dDemo/G2dDemo
sdk_demo/alphatest/alpha
sdk_demo/memTest/memTest
sdk_demo/png_decode/png2bmptest
sdk_demo/png_decode/pngdecodetest
sdk_demo/usbcam_test/usbcam_test
sdk_demo/yuvtest/yuvtest
sdk_demo/csitest/csitestT113_ptr
sdk_demo/lcd_bright/lcdbright
sdk_lib/cedarx/include/libcedarc/include/Android.bp

sdk_demo/bin/*
!aw_player_lcd.sh
!aw_player_lcd_tv.sh
!aw_player_tv.sh
sdk_demo/*/*.o
sdk_lib/libs/libsdk_*.so
!libsdk_player.so
!libsdk_gifdecoder.so
!libsdk_g2d.so
!libsdk_dvr.so
!libsdk_disp.so
!libsdk_compose.so
sdk_lib/sdk_*/libsdk_*.so


kernel/xr829/*.cmd
kernel/xr829/umac/*.cmd
kernel/xr829/wlan/*.cmd
kernel/xr829/xr829.mod.c
kernel/xr829/Module.symvers
kernel/xr829/modules.order
kernel/xr829/xr829.ko
kernel/xr829/xr829.mod
